@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
section{
    height: 100vh;
}
.home{
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    display: flex;
    flex-direction: column;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    justify-content: space-between;

}
.imglogo{
    display: flex;
}
.navegação{
    display: flex;
    justify-content: space-between;
    gap: 72px;
}
.nav{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 94.8%;
    /* identical to box height, or 19px */


    color: #000000;
}
#divBusca{
    display: flex;
    align-items: center;
    border: none;
    border-radius:10px;
    width: 259.76px;
    height: 49.64px;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 9.9272px 33.0907px -13.2363px rgba(0, 0, 0, 0.1);
    border-radius: 24.818px;

}

#txtBusca{
    float: bottom;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border: none;
    text-align: left;
    width: 179.76px;
    height: 49.64px;
}

#btnBusca{
    /*position: relative;*/
    border:none;
    float: left;
    height:49.64px;
    border-radius:0 24.818px 24.818px 0;
    width:70px;

    background:#F5EDE1;
}

#divBusca img{
    float: left;
}
.botoes1e2{
    display: flex;
    gap: 20px;
}

.botao1{
    width: 125px;
    height: 45px;
    border: 1px solid #2F2F2F;
    box-sizing: border-box;
    background: #F5EDE1;
    filter: drop-shadow(0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25));
    border-radius: 23.5714px;
}
.botao2{
    width: 125px;
    height: 45px;
    background: #2F2F2F;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
    border-radius: 23.5714px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.7857px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}
.container1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1999px;
    line-height: 138.8%;
    /* or 25px */


    color: #909090;
}
.botao3{
    width: 155.53px;
    height: 57.91px;
    border: none;
    background: #2F2F2F;
    box-shadow: 0px 16.5453px 26.4725px -6.61813px rgba(0, 0, 0, 0.2);
    border-radius: 69.4904px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.5453px;
    line-height: 94.8%;
    /* identical to box height, or 16px */


    color: #F4ECE1;
}
.botao4{
    width: 200.53px;
    height: 57.91px;
    border: none;
    flex-direction: row;
    background: transparent;
    border-radius: 69.4904px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}
.botao4 p{
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 132.3%;
    /* or 21px */

    letter-spacing: 0.045em;

    color: #000000;
}
.botoescontainer1{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}
.rating {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 132.3%;
    /* or 21px */

    letter-spacing: 0.045em;

    color: #000000;
}
.containers1e2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.shop{
    background: url("img/Oval.png") no-repeat left;
    align-items: center;
}

.shop h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0.005em;

    color: #44455B;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.yourfood{
    text-align: center;
    width: 155.79px;
    height: 118.3px;
    background: #F5EDE1;
    border-radius: 15.6116px;
    filter: drop-shadow(27.46px 5.75px 5.75px rgba(0, 0, 0, 0.25));
}
.paragrafoshop h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.01em;

    color: #44455B;
}
.paragrafoshop p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 163.6%;
    /* or 27px */

    letter-spacing: -0.005em;

    color: #44455B;
}
.yourfood h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.01em;

    color: #44455B;
}
.yourfood p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 132.3%;
    /* or 19px */

    text-align: center;
    letter-spacing: -0.005em;

    color: #44455B;
}
.titulo2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    /* identical to box height, or 139% */

    text-align: center;

    color: #F4C276;
}
.bitmap1{
    position: relative;
    left: -20px;
    top: -28px;
    background: #9B9B9B;
    border-radius: 100px 24px 24px 24px;
}
.bitmap{
    left: -10px;
    position: relative;
    top: -18px;
    background: #9B9B9B;
    border-radius: 50px 24px 24px 24px;
}
.lorem{
    width: 170px;
    height: 196px;
    left: 32px;
    /*top: 32px;*/

    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 100px 24px 24px 24px;

}
.lorem1{
    width: 200px;
    height: 296px;
    left: 32px;
    top: 32px;

    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 100px 24px 24px 24px;
}
.lorem1div{
     text-align: right;
     margin-right: 50px;
 }
.lorem1div1{
    text-align: right;
    margin-right: 10px;
}
.preço1{
    position: relative;
    top: -10px;
}
.preço2{
    position: relative;
    top: -5px;
}
.preço3{
    position: relative;
    top: -5px;
}
.lorem1div1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 133% */

    /*text-align: right;*/

    color: #333333;
}
.lorem1div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: right;

    color: #333333;
}
.div2{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.botao5{
    width: 194.79px;
    height: 55px;
    background: #44455B;
    border-radius: 13.75px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22.9167px;
    line-height: 27px;
    /* identical to box height */
    border: none;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.divbotao5{
    text-align: center;
}
.imgbolo{
    text-align: center;
}
.menu{
    background: url("img/Ovaldireita.png") no-repeat right;
}
.menuimg{
    position: relative;
    top: -38px;
    width: 470px;
    height: 292px;
    left: +30px;
}
.div4{
    width: 909px;
    height: 392px;
    /*left: 1316px;
    top: 2485px;*/
    display: flex;
    flex-direction: row;
    /* Linear/03 */

    background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
    border-radius: 100px 100px 24px 0px;
}
.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.div3 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    /* identical to box height, or 64% */

    text-align: center;

    color: #333333;
}
.div3 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.5938px;
    line-height: 37px;
    /* identical to box height, or 139% */

    text-align: center;

    color: #FF8E0A;
}
.div3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    text-align: center;
    padding-top: 20px;
    color: rgba(51, 51, 51, 0.5);
}
.quadradorosa{
    margin-top: 20px;
    margin-left: 40px;
}
.botoesmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.botoesmenu p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    /* identical to box height, or 139% */
    text-align: center;
    margin-bottom: 25px;
    color: #333333;
}
.botao6{
    border: none;
    background: none;
}
.botao7{
    border: none;
    background: none;
}
.divfooter1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17.2431px;
    line-height: 30px;
    /* or 175% */

    letter-spacing: -0.02em;

    color: #FAB856;
}
.divfooter2 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22.6316px;
    line-height: 26px;
    /* identical to box height, or 114% */


    color: #44455B;
}
.divfooter2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0877px;
    line-height: 26px;
    /* identical to box height, or 171% */


    color: #44455B;
}
.divfooter3 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22.6316px;
    line-height: 26px;
    /* identical to box height, or 114% */


    color: #44455B;
}
.divfooter3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0877px;
    line-height: 28px;
    /* or 186% */
    padding-top: 30px;
    letter-spacing: -0.02em;

    color: #181433;

    opacity: 0.5;
}
.divfooter4 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 28.6945px;
    line-height: 43px;
    letter-spacing: 0.005em;

    color: #44455B;
}
.divfooter4 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.3473px;
    line-height: 22px;
    letter-spacing: 0.005em;

    color: #FAB856;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.divfooter1{
    margin-left: 50px;
}
.botoesfooter2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playstore{
    width: 144.02px;
    height: 51.64px;
    background: #FFFFFF;
    border: 0.727351px solid #44455B;
    box-sizing: border-box;
    border-radius: 9.45556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 14.547px;
    /*line-height: 22px;*/
    letter-spacing: 0.005em;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: #44455B;
}
.appstore{
    width: 144.02px;
    height: 51.64px;
    background: #FFFFFF;
    border: 0.727351px solid #44455B;
    box-sizing: border-box;
    border-radius: 9.45556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 14.547px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #44455B;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.apps{
    margin-left: 15px;
}
.botnews{
    width: 111.87px;
    height: 39.04px;
    border: none;
    position: relative;
    left: -8px;
    background: #44455B;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12.0126px;
    line-height: 20px;
    /* identical to box height, or 162% */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}
#inscrever{
    width: 292.06px;
    height: 39.04px;
    border: 0.727351px solid #44455B;
    border-radius: 5px;
    background: #F9F9F9;
}
.botoesfooter1{
    display: flex;
}
.iconesredes{
    display: flex;
    justify-content: space-between;
}